<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet access for streaming + API -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Keep screen on while watching (optional, handled in-app) -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:label="Xstream"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"

        android:allowBackup="false"
        android:fullBackupContent="false"
        android:usesCleartextTraffic="false"
        android:theme="@style/LaunchTheme"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|screenLayout|fontScale|uiMode|density|locale|layoutDirection"
            android:windowSoftInputMode="adjustResize"
            android:turnScreenOn="true"
            android:theme="@style/LaunchTheme">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Required so the WebView iframe player can query orientation -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>
</manifest>
